@{
    ViewBag.Title = "About";
}
<h2>About us</h2>

<p>Fast Time intervals extraction for the greater good</p>
<p style="display:inline">
    <img src="~/Images/Karma.jpeg" />
    <img src="~/Images/Lego.jpg" />
</p>
