@{
    ViewBag.Title = "Contact";
}
<h3>Contact us at:</h3>

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@

<address>
    <strong>Founder</strong> <a href="mailto:robertmo@bgu.ac.il">robertmo@bgu.ac.il</a><br />
    <strong>Co-Founder</strong>   <a href="mailto:fayndani@post.bgu.ac.il">fayndani@post.bgu.ac.il</a><br />
    <strong>Co-Founder</strong> <a href="mailto:danielrbk@gmail.com">danielrbk@gmail.com</a>
</address>